<div class="_main_content_canvas">
  <div class="col-xs-12 col-sm-1"></div>
  <div class="col-xs-12 col-sm-10">

    <div class="row"> <!-- div for sub nav >> -->

      <div class="col-xs-12 col-sm-3"> <!-- content nav >> -->
        <div class="_tbl_o_content">
          <div class="_tbloc_title">
            Table of Content
          </div>
          <div class="_tbloc_content">
            <div class="_tbloc_point_canvas">
              <span class="_tbloc_point" [ngClass]="info_Desc_class" (click)="kido('info_Desc_class')">Info &amp; Description</span>
            </div>
            <div class="_tbloc_point_canvas">
              <span class="_tbloc_point" [ngClass]="notes_class" (click)="kido('notes_class')">Notes</span>
            </div>
            <div class="_tbloc_point_canvas">
              <span class="_tbloc_point" [ngClass]="questions_class" (click)="kido('questions_class'); viewAllQuestion()">Question</span>
            </div>
          </div>
        </div>
      </div> <!-- <</ content nav -->

      <div class="col-xs-12 col-sm-9"> <!-- content >> -->

        <div class="row _content_back_button">
          <div class="col-xs-12">
            <span (click)="goBackFunction()" class="_content_back_button_canvas _default_back"><span class="_go_back_button glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to library</span>
            <span class="_warning_msg _content_options_button" *ngIf="editPackFlag" (click)="editSave_pack()"> {{edit_label}} </span>
          </div>
        </div>

        <!-- info n description >> -->
        <div class="col-xs-12 _content_canvas" [hidden]="infod_hideFlag">
          <div class="row _view_packDescription">
            <div class="col-xs-12 col-sm-4 _margin_top_5">
              <label >Package Name</label>
              <input type="text" name="packName" [ngClass]="name_class" class="_g1_input _margin_bottom_5 _margin_top_5 _no_border_radis" placeholder="Package Name" [(ngModel)]="packName" [disabled]="pkg_edit_flag"/>
              <label> Package Price </label>
              <input (keypress)="numberOnly($event)" name="packPrice" [ngClass]="name_class" class="_g1_input ¸ _no_border_radis" placeholder="Package Price" [(ngModel)]="packPrice" [disabled]="pkg_edit_flag"/>
            </div>
            <div class="col-xs-12 col-sm-8 _margin_top_5">
              <label >Package Description</label>
              <textarea name="description" [ngClass]="des_class" class="_g1_input _margin_bottom_5 _margin_top_5 _no_border_radius" placeholder="Give short description of your package here..." style="resize: none; height: 90px;" [(ngModel)]="packDescription" [disabled]="pkg_edit_flag"></textarea>
            </div>
          </div>
        </div> <!-- <</ info n description -->

        <div class="col-xs-12 _content_canvas" [hidden]="notes_hideFlag"> <!-- notes >> -->
          <div class="row _view_packDescription _text_content">
            <div class="col-xs-12 _margin_top_5">
              <label>Package Notes</label>
              <textarea name="let pack of packNotes" [ngClass]="note_class" class="_g1_input _margin_top_5 _margin_bottom_5" placeholder="If you have some notes or tips you can share them here ..." style="height: 150px; resize: vertical" [(ngModel)]="packNotes" [disabled]="pkg_edit_flag"></textarea>
            </div>
          </div>
        </div> <!-- <</ notes -->

        <!-- questions >> -->
        <div class="col-xs-12 _content_canvas" [hidden]="question_hideFlag">

          <!-- questions adder >> -->
          <div id="_question_adder_canvas" [hidden]="questionAdderCanvas">
            <div class="row">

              <div class="col-xs-12 col-sm-12 _margin_top_5 _margin_bottom_5">
                <div class="col-xs-12 col-sm-12 _question_ans_canvas">
                  <label>Add new Question</label> <span ng-show="questionAddErrorMsg"[ngClass]="q_whichMsg" id="theQestionMessage"> {{addQuestionMessage}} </span>
                  <textarea class="_g1_input _margin_top_5 _margin_bottom_5 _no_border_radis" placeholder="Write new question here ..." style="height: 60px; resize: vertical;" [(ngModel)]="question_IO" [ngClass]="question_IOClass"></textarea>
                </div>
                <div class="col-xs-12 col-sm-12 _question_ans_canvas">
                  <label>Options</label>

                  <div class="row">
                    <div class="col-xs-1 col-sm-1"  style="margin-top: 15px;">
                      <input id="radio-1" class="radio-custom" name="radio-group" type="radio" [(ngModel)]="theRightOption" [value]="optionA_IO"/>
                      <label class="radio-custom-label"></label>
                    </div>
                    <div class="col-xs-11 col-sm-11">
                      <input type="text"  placeholder="Option A" class="_g1_input _no_border_radis radio-custom-label" [(ngModel)]="optionA_IO" [ngClass]="optionA_IOClass"/>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-1 col-sm-1"  style="margin-top: 15px;">
                      <input id="radio-2" class="radio-custom" name="radio-group" type="radio" [(ngModel)]="theRightOption" value="optionB_IO"/>
                      <label class="radio-custom-label"></label>
                    </div>
                    <div class="col-xs-11 col-sm-11">
                      <input type="text" placeholder="Option B" class="_g1_input _no_border_radis radio-custom-label" [(ngModel)]="optionB_IO" [ngClass]="optionB_IOClass"/>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-1 col-sm-1"  style="margin-top: 15px;">
                      <input id="radio-3" class="radio-custom" name="radio-group" type="radio" [(ngModel)]="theRightOption" [value]="optionC_IO"/>
                      <label class="radio-custom-label"></label>
                    </div>
                    <div class="col-xs-11 col-sm-11">
                      <input type="text" placeholder="Option C" class="_g1_input _no_border_radis radio-custom-label" [(ngModel)]="optionC_IO" [ngClass]="optionC_IOClass"/>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-1 col-sm-1" style="margin-top: 15px;">
                      <input id="radio-4" class="radio-custom" name="radio-group" type="radio" [(ngModel)]="theRightOption" />
                      <label  class="radio-custom-label"></label>
                    </div>
                    <div class="col-xs-11 col-sm-11">
                      <input type="text" placeholder="Option D" class="_g1_input _no_border_radis radio-custom-label" [(ngModel)]="optionD_IO" [ngClass]="optionD_IOClass"/>
                    </div>
                  </div>
                  <div class="row _margin_top_5 _margin_bottom_5">
                    <div class="col-xs-10 col-sm-8 _margin_top_5 _margin_bottom_5">
                      <div class="_g_button _blue _no_border_radis" (click)="saveQuestion()">
                        Save Questions
                      </div>
                    </div>
                    <div class="col-xs-1 col-sm-4 _margin_top_5 _margin_bottom_5">
                      <div class="_g_button _orange _no_border_radis" (click)="cancelQuestion()">
                        Cancel
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr/>
          </div>
          <!-- <</ questions adder -->

          <!-- show added quesiton >> -->
          <div id="showAllAddedQuestions" >
            <div class="col-xs-12 col-sm-12 _margin_top_5 _margin_bottom_5">
              <div class="row">
                <div class="col-xs-12 col-sm-12 _switch_canvas" style="margin-bottom:20px; margin-top: 20px;">
                    <h4>View / Edit / Delete Questions</h4>
                    <p>
                      You can view all the added question here. You can also Edit or Delete them from here...
                    </p>
                </div>
                <div class="col-xs-12 col-sm-12">
                  <!--question :{{theQestionList}}<<-->
                  <div class="row _given_question_canvas _margin_top_5 _margin_bottom_5"  *ngFor="let x of theQestionList;let i = index">
                    <div id="questionListCanvas_{{x.q_id}}" [hidden]="hideme[x.q_id]">
                      <div class="_question_content">
                        {{x.question}}
                      </div>
                      <div class="col-xs-12 col-sm-12 _margin_bottom_5">
                        <div class="row _answer_content_v _margin_top_5 _margin_bottom_5"  [ngClass]="{'_correct_ans': x.opt1 == x.anskey}">
                        {{x.opt1}}
                        </div>
                        <div class="row _answer_content_v _margin_top_5 _margin_bottom_5"  [ngClass]="{'_correct_ans': x.opt2 == x.anskey}">
                          {{x.opt2}}
                        </div>
                        <div class="row _answer_content_v _margin_top_5 _margin_bottom_5" [ngClass]="{'_correct_ans': x.opt3 == x.anskey}">
                          {{x.opt3}}
                        </div>
                        <div class="row _answer_content_v _margin_top_5 _margin_bottom_5" [ngClass]="{'_correct_ans': x.opt4 == x.anskey}">
                          {{x.opt4}}
                        </div>
                        <hr/>
                      </div>
                    </div>
                    <!-- question editable canvas >> -->
                    <div id="questionEditableCanvas">
                      <div class="col-xs-12 col-sm-12 _margin_top_5" id="quesion_{{x.q_id}}" [hidden]="!hideme[x.q_id]">
                        <div>
                          <label>Edit Question :{{x.question}}</label>
                          <textarea class="_g1_input _margin_top_5 _margin_bottom_5 _no_border_radis" style="height: 60px; resize: vertical;" [ngClass]="question_IOClass" [(ngModel)]="x.question" [value]="x.question" ></textarea>
                        </div>

                      <div class="col-xs-12 col-sm-12" id="options">
                        <div class="row">
                          <div class="col-xs-1 col-sm-1" style="margin-top: 15px;">
                            <input id="radio-A-{{x.q_id}}" class="radio-custom" name="radio-group-{{x.q_id}" type="radio" [value]="x.opt1" [(ngModel)]="anskey" [checked]="isSelected(x.opt1, x.anskey)"/>
                            <label  class="radio-custom-label"></label>
                          </div>
                          <div class="col-xs-11 col-sm-11">
                            <input type="text"  class="_g1_input _no_border_radis radio-custom-label" [ngClass]="optionA_IOClass" [(ngModel)]="x.opt1"/>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-1 col-sm-1" style="margin-top: 15px;">
                            <input id="radio-B-{{x.q_id}}" class="radio-custom" name="radio-group-{{x.q_id}" type="radio" [value]="x.opt2" [(ngModel)]="anskey" [checked]="x.opt2 == x.anskey"/>
                            <label  class="radio-custom-label"></label>
                          </div>
                          <div class="col-xs-11 col-sm-11">
                            <input type="text"  class="_g1_input _no_border_radis radio-custom-label" [ngClass]="optionB_IOClass" [(ngModel)]="x.opt2"/>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-1 col-sm-1" style="margin-top: 15px;">
                            <input id="radio-C-{{x.q_id}}" class="radio-custom" name="radio-group-{{x.q_id}" type="radio" [value]="x.opt3" [(ngModel)]="anskey" [checked]="x.opt3 == x.anskey">
                            <label class="radio-custom-label"></label>
                          </div>
                          <div class="col-xs-11 col-sm-11">
                            <input type="text" class="_g1_input _no_border_radis radio-custom-label" [ngClass]="optionC_IOClass" [(ngModel)]="x.opt3"/>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-1 col-sm-1" style="margin-top: 15px;">
                            <input id="radio-D" class="radio-custom" name="radio-group-{{x.q_id}" type="radio" [value]="x.opt4" [(ngModel)]="anskey"  [checked]="x.opt4 == x.anskey"/>
                            <label class="radio-custom-label"></label>
                          </div>
                          <div class="col-xs-11 col-sm-11">
                            <input type="text"  class="_g1_input _no_border_radis radio-custom-label" [ngClass]="optionD_IOClass" [(ngModel)]="x.opt4"/>
                          </div>
                        </div>
                        <hr/>
                      </div>
                      </div>
                    </div>
                    <!-- <</ question editable canvas -->
                    <div class="col-xs-12 col-sm-12 _margin_bottom_5" style="margin-bottom: 20px;">
                      <div class="_g_button _blue col-xs-8 _no_right_border_radius" id="btn_{{x.q_id}}" (click)="edit_question(x, i, anskey)">
                        {{q_edit}}
                      </div>
                      <div class="_g_button _red col-xs-4 _no_left_border_radius" id="{{x.q_id}}" (click)="delete_question(x)">
                        Delete
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- <</ questions -->
      </div> <!-- <</ content -->
    </div> <!-- <</ div for sub nav -->
  </div>
  <div class="col-xs-12 col-sm-1"></div>
</div>
