<div class="col-xs-12 col-sm-12">
    <!--question :{{theQestionList}}<<-->

    <div class="row _given_question_canvas _margin_top_5 _margin_bottom_5" *ngFor="let x of theQestionList">
      <div id="questionListCanvas" *ngIf="theMainQCanvas">
        <div class="_question_content">
            {{x.question}}
        </div>
        <div class="col-xs-12 col-sm-12 _margin_bottom_5">
          <div class="row _answer_content_v _margin_top_5 _margin_bottom_5"  [ngClass]="opt1Class">
            {{x.opt1}}
          </div>
          <div class="row _answer_content_v _margin_top_5 _margin_bottom_5"  [ngClass]="opt2Class">
            {{x.opt2}}
          </div>
          <div class="row _answer_content_v _margin_top_5 _margin_bottom_5" [ngClass]="opt3Class">
            {{x.opt3}}
          </div>
          <div class="row _answer_content_v _margin_top_5 _margin_bottom_5"  [ngClass]="opt4Class">
            {{x.opt4}}
          </div>
          <hr/>
        </div>
      </div>
      <!-- question editable canvas >> -->
      <div id="questionEditableCanvas" >
        <div *ngFor="let x of theQestionList">
            <div class="col-xs-12 col-sm-12 _margin_top_5" id="_quesion">
                <label>Edit Question {{x.question}}</label>
                <textarea class="_g1_input _margin_top_5 _margin_bottom_5 _no_border_radis" style="height: 60px; resize: vertical;" [ngClass]="question_IOClass" [(ngModel)]="question">{{x.question}}</textarea>
              </div>
              <div class="col-xs-12 col-sm-12" id="options">
                <div class="row">
                  <div class="col-xs-1 col-sm-1" style="margin-top: 15px;">
                    <input id="" class="radio-custom" name="radio" type="radio" value='{{x.opt1}}' [(ngModel)]="anskey" />
                    <label  class="radio-custom-label"></label>
                  </div>
                  <div class="col-xs-11 col-sm-11">
                    <input type="text" class="_g1_input _no_border_radis radio-custom-label" [ngClass]="optionA_IOClass" [(ngModel)]="opt1" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-1 col-sm-1" style="margin-top: 15px;">
                    <input id="radioB" class="radio-custom" name="radio" type="radio" value="{{x.opt2}}" [(ngModel)]="anskey"/>
                    <label class="radio-custom-label"></label>
                  </div>
                  <div class="col-xs-11 col-sm-11">
                    <input type="text"  class="_g1_input _no_border_radis radio-custom-label" [ngClass]="optionB_IOClass" [(ngModel)]="opt2"/>
                  </div>
                </div>

                <div class="row">
                <div class="col-xs-1 col-sm-1" style="margin-top: 15px;">
                  <input id="radio-C" class="radio-custom" name="radio-group-{{q_id}}" type="radio" value="{{x.opt3}}" [(ngModel)]="anskey"/>
                  <label class="radio-custom-label"></label>
                </div>
                <div class="col-xs-11 col-sm-11">
                  <input type="text" class="_g1_input _no_border_radis radio-custom-label" ng-class="optionC_IOClass" [(ngModel)]="opt3"/>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-1 col-sm-1" style="margin-top: 15px;">
                  <input id="radio-D-{{q_id}}" class="radio-custom" name="radio-group-{{q_id}}" type="radio" value="{{x.opt4}}" [(ngModel)]="anskey"/>
                  <label  class="radio-custom-label"></label>
                </div>
                <div class="col-xs-11 col-sm-11">
                  <input type="text"  class="_g1_input _no_border_radis radio-custom-label" ngClass="optionD_IOClass" [(ngModel)]="opt4"/>
                </div>
              </div>
              <hr/>
        </div>
      </div>
    </div>
      <!-- <</ question editable canvas-->
      <div class="col-xs-12 col-sm-12 _margin_bottom_5" style="margin-bottom: 20px;">
        <div class="_g_button _blue col-xs-8 _no_right_border_radius" id="{{q_id}}" (click)="edit_question()">
          {{q_edit}}
        </div>
        <div class="_g_button _red col-xs-4 _no_left_border_radius" id="{{q_id}}" (click)="delete_question()">
          Delete
        </div>
      </div>
    </div>
  </div>