<div class="the_glass" [hidden]="theGlassFlag">

  <div class="row _hideit">
    <div class="col-xs-12 col-sm-1 col-md-2 col-lg-2"></div>
    <div class="col-xs-12 col-sm-1 col-md-8 col-lg-8">
      <div class="row">
        <div (click)="goBackFunction()" class="_go_back_button _back_white _g_button _blue col-xs-12" style="font-size:1.1em;">
          Back to Library
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-1 col-md-2 col-lg-2"></div>
  </div>
</div>

<div class="_main_content_canvas" style="margin-bottom: 40px;">
  <div class="col-xs-12 col-sm-1"></div>
  <div class="col-xs-12 col-sm-10">
    <div class="row" >
      <div class="col-xs-12 col-sm-3"> <!-- content nav >> -->
        <div class="_tbl_o_content">
          <div class="_tbloc_title">
            Table of Content
          </div>
          <div class="_tbloc_content">
            <div class="_tbloc_point_canvas">
              <span class="_tbloc_point" [ngClass]="info_Desc_class" (click)="info()">Info &amp; Description</span>
            </div>
            <div class="_tbloc_point_canvas">
              <span class="_tbloc_point" [ngClass]="notes_class" (click)="notes()">Notes</span>
            </div>
            <div class="_tbloc_point_canvas">
              <span class="_tbloc_point" [ngClass]="questions_class" (click)="question(); solveTheQuestion()">Question</span>
            </div>
          </div>
        </div>
      </div> <!-- <</ content nav -->


      <div class="col-xs-12 col-sm-9"  [ngSwitch]="content_view_switch"> <!-- contant canvas >> -->
        <div class="row _content_back_button">
          <div class="col-xs-12">
            <span (click)="goBackFunction()" class="_content_back_button_canvas _default_back"><span class="_go_back_button glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to library</span>
          </div>
        </div>

        <!-- info n description >> -->
        <div class="col-xs-12 _content_canvas" *ngSwitchCase="'packDInfo'">
          <div class="row _text_content" style="border-bottom: 1px solid #e0e0e0;" >
            <span class="_view_packName">{{packName}}</span><br/> by <span class="_view_packAuthoe">{{author_name}}</span>
          </div>
          <div class="row _view_packDescription _text_content">
            {{packDescription}}
          </div>
        </div> <!-- <</ info n description -->

        <!-- notes >> -->
        <div class="col-xs-12 _content_canvas" *ngSwitchCase="'content_notes'" >
          <div class="row _view_packDescription _text_content">
            {{packNotes}}
          </div>
        </div>
        <!-- <</ notes -->

        <!-- questions cnavs >> -->
        <div class="col-xs-12 _content_canvas" style="margin-bottom: 20px;" *ngSwitchCase = "'content_questoin'" >

          <!-- show added quesiton >> -->
          <div id="showAllAddedQuestions">
            <div class="col-xs-12 col-sm-12 _margin_top_5 _margin_bottom_5">
              <div class="row">
                <div class="col-xs-12 col-sm-12">
                  <!--question :{{theQestionList}}<<-->
                  <div class="row _given_question_canvas _margin_top_5 _margin_bottom_5" *ngFor="let x of theQestionList" id="question_{{x.q_id}}">
                    <div id="questionListCanvas">
                      <div class="_question_content">
                        {{x.question}}
                      </div>

                      <div class="col-xs-12 col-sm-12  _margin_bottom_5">
                        <div id="ansOpt_{{x.q_id}}_1" class="row _answer_content _margin_top_5 _margin_bottom_5" [ngClass]="opt1Class"  (click)="demo(x.q_id, '1'); x.anskey = x.opt1; getAnsCount()">
                          {{x.opt1}}
                        </div>
                        <div id="ansOpt_{{x.q_id}}_2" class="row _answer_content _margin_top_5 _margin_bottom_5" [ngClass]="opt2Class"  (click)="demo(x.q_id, '2'); x.anskey = x.opt2; getAnsCount()">
                          {{x.opt2}}
                        </div>
                        <div id="ansOpt_{{x.q_id}}_3" class="row _answer_content _margin_top_5 _margin_bottom_5" [ngClass]="opt3Class"  (click)="demo(x.q_id, '3'); x.anskey = x.opt3; getAnsCount()">
                          {{x.opt3}}
                        </div>
                        <div id="ansOpt_{{x.q_id}}_4" class="row _answer_content _margin_top_5 _margin_bottom_5" [ngClass]="opt4Class"  (click)="demo(x.q_id, '4'); x.anskey = x.opt4; getAnsCount()">
                          {{x.opt4}}
                        </div>
                        <div class="_the_ans_stat">
                          {{x.rkie}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row _margin_bottom_5">
                    <div class="row _g_button _blue_back _margin_bottom_5" (click)="getTheResults()" *ngIf="submitFlag">
                      Submit
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <</ show added quesiton -->
        </div> <!-- <</ questions cnavs -->
      </div> <!-- <</ contant canvas -->
    </div>
  </div>
  <div class="col-xs-12 col-sm-1"></div>
</div>


<!--

    opt1Class = '_correct_ans'; opt2Class = ''; opt3Class = ''; opt4Class = '';

    opt2Class = '_correct_ans'; opt1Class = ''; opt3Class = ''; opt4Class = '';

    opt3Class = '_correct_ans'; opt2Class = ''; opt4Class = ''; opt1Class = '';

    opt4Class = '_correct_ans'; opt2Class = ''; opt3Class = ''; opt1Class = '';

-->