<!doctype html>
<html ng-app="userHomeApp">
<head>
  <meta charset="utf-8">
  <title> Kryptominds </title>
</head>

<body class="container-fluid">

  <nav class="navbar navbar-fixed-top" ngOnInit="start_check();">
    <div class="col-xs-12">
      <div class="row _navb">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-3">
          <span class="_know_title hidden-xs">Kryptominds</span>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-8 col-lg-6">
          <div class="col-xs-3 _margin_top_5">
            <a><span class="_nav_tile" [routerLinkActive]="_nav_tile_selected" (click)="navlib();">Library</span></a>
          </div>
          <div class="col-xs-3 _margin_top_5">
            <a><span class="_nav_tile" [routerLinkActive]="_nav_tile_selected" (click)="navstream()">Stream</span></a>
          </div>
          <div class="col-xs-3 _margin_top_5">
            <a>
              <span class="_profile_ec_noti" ng-show="profile_ec_noti_flag">{{profile_noti}}</span>
              <span class="_nav_tile" [routerLinkActive]="_nav_tile_selected" (click)="navpro();">Profile </span>
            </a>
          </div>
          <div class="col-xs-3 hidden-sm hidden-md hidden-lg _nav_tile_logout _error_msg">
            <span (click)="logOut();" style="float: right;">Logout</span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-1 col-md-2 col-lg-3">
          <span (click)="logOut();" class="hidden-xs _nav_tile_logout _error_msg" style="float: right;">
            Logout
          </span>
        </div>
      </div>
    </div>
  </nav>
  <div class="row _main_content_canvas">
    <div ng-view></div>
  </div>
</body>
</html>
